<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <div role=”Base-HTML” aria-label= "Base-HTML"></div>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
       
<h4 class = "logout"> <a href="{{url_for('logout')}}"> log out </a> </h4>

{% block nav %}
<div role=”navigation” aria-label= "Main Menu"></div>
<nav>
  <ul>
    <li><a href="{{url_for('music_share_form')}}">Share Music</a></li>
    <li><a href="{{url_for('view_profile')}}">Profile</a></li>
    <li><a href="{{url_for('display_feed')}}">Feed</a></li>
    <li><a href="{{url_for('findFriends')}}">Find Users</a></li>
  </ul>
</nav>
{% endblock %}

{% block main_content %}
<h1>Welcome</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
